/*style.css*/
@import 'header';
@import 'colors';
@import 'grid';

body {
    background-color: $background;
  }

.carousel-inner > .item > img{
    margin: auto;
  }
/* top navigation bar-------------------------------*/
.top-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: $accent-box;

  li {
    float: right;
    transition: all 1s ease-out;

    a {
      display: block;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 20px;
      color: $text-color;
    }
  }
  li a:hover {
    background-color: $nav-selector;
    color: $text-select-color;
  }
}



/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  background-color: $accent-box;
  border: 0.05rem solid #00001A;
  box-shadow: 0rem;
}
.marketing h2 {
  font-weight: 400;
    }
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
  }

  /* Featurettes ------------------------- */

.featurette-divider {
  margin: 2rem 0; /* Space out the Bootstrap <hr> more */
  width: 100%;

  .col-md-7 .featurette-heading {
    width: 10%;
  }
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

  /*footer section -------------------------*/
  footer {
    background-color: $accent-box;

    .btn-row {
      width: 50%;
      margin: 0px auto 0px;
      padding: 20px 0px 0px 0px;
      text-align: center;
    }

    .btn-row button {
      background-color: $accent-box; /* Background */
      border: 1px solid $nav-selector; /* Blue border */
      color: $text-select-color; /* White text */
      padding: 10px 24px; /* Some padding */
      cursor: pointer; /* Pointer/hand icon */
      float: left; /* Float the buttons side by side */

      border-radius: 10rem;
  }

  /* Clear floats (clearfix hack) */
  .btn-group:after {
      content: "";
      clear: both;
      display: table;
  }

  .btn-group button:not(:last-child) {
      border-right: none; /* Prevent double borders */
  }

  /* Add a background color on hover */
  .btn-group button:hover {
      background-color: $nav-selector;
      color: $text-select-color;
  }

}