/*style.css*/
@import 'header';
@import 'colors';
@import 'grid';

body {
    background-color: $background;
  }

.carousel-inner > .item > img{
    margin: auto;
  }
/* top navigation bar-------------------------------*/
.top-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $nav-background;

    li {
      float: right;
      transition: all 1s ease-out;

      a {
        display: block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 20px;
        color: $text-color;
      }
    }
    li a:hover {
      background-color: $nav-hover-background;
      color: $nav-selector;
    }
  }

  /*footer section*/
  footer {
    background-color: $nav-background;
    .footer-uni-row {
      width: 80%;
      margin: 0px auto 0px;
      padding: 40px 0px 0px 0px;
      text-align: center;

      ul, li {
        display: inline-block;
        background-color: $nav-background;
        width: 160px;
        height: 70px;
        margin: 4px;
        border-style: inset;
        border-width: 2px;
        border-color: $nav-hover-background;
        border-radius: 40px;
        list-style-type: disc;
        color: $nav-selector;
      }

      :hover{
        background-color: $nav-hover-background;
        color: $nav-selector;
      }

      p, ul, li {
        font-family: Verdana, Helvetica, sans-serif;
        font-size: 14px;
        line-height: 18px;
      }
    }
  }