/*style.css*/
@import 'header';
@import 'colors';

body {
    background-color: $background;
}

/* top navigation bar-------------------------------*/
.top-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $nav-background;

    li {
      float: right;
      transition: all 1s ease-out;

      a {
        display: block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 20px;
        color: $text-color;
      }
    }
  }

  li a:hover {
    background-color: $nav-hover-background;
    color: $nav-selector;
  }

  /*footer section*/
  footer {
    list-style-type: none;

    a {
      display: block;
    }
  }